html
    head
        link(rel="stylesheet" type="text/css " href="./../assets/styles/header.css")
        link(rel="stylesheet" type="text/css " href="./../assets/styles/_common.css")
        link(rel="stylesheet" type="text/css " href="./../assets/styles/_scrollbar.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js")
        script(src="./../assets/scripts/header.js" defer)
    header
        a(href="/")
            img#__LOGO__(src="./../assets/images/logo.svg")
        nav
            li.submenu.tiny
                a#nav-daldalso(href="https://daldal.so")
                    i.fa-fw.fas.fa-moon
            li.submenu.tiny
                a(href="/upload")
                    i.fa-fw.fas.fa-upload
            - if (!nick)
                li.submenu
                    a(href="/login") 로그인
            - else
                li.submenu
                    a=nick
                    div.dropdown
                        a(href=`/channel/${id}`) 내 채널
                        a(href="/logout") 로그아웃