html
    head
        link(rel="stylesheet" type="text/css " href="./../assets/styles/header.css")
        link(rel="stylesheet" type="text/css " href="./../assets/styles/_common.css")
    header
        img(src="./../assets/images/logo.svg")
        nav
            a#login 로그인