include header
html
    head
        link(rel="stylesheet" type="text/css" href="./../assets/styles/main.css")
        script(src="./../assets/scripts/main.js" defer)
    body
        main#stars
        template#daldalStar
            style.
                #container {
                    display: grid;
                    grid-template-rows: auto 40px;
                    grid-row-gap: 10px;
                    cursor: pointer;
                }
                img#thumbnail {
                    padding: 5%;
                    width: 90%;
                    height: 90%;
                    object-fit: cover;
                    border-radius: 50%;
                    aspect-ratio: 1/1;
                }
                span#title {
                    width: auto;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    color: #ffffff;
                    text-align: center;
                }
                .bronze {
                    background: linear-gradient(to bottom right, #8b411e, #4A1003);
                }
                .silver {
                    background: linear-gradient(to bottom right, #c8c8c8, #727272);
                }
                .gold {
                    background: linear-gradient(to bottom right, #e6e339, #8D8208);
                }
                .platinum {
                    background: linear-gradient(to bottom right, #18B57B, #00FF7B);
                }
                .diamond {
                    background: linear-gradient(to bottom right, #0081fa, #02F0FD);
                }
                .master {
                    background: linear-gradient(to bottom right, #a53ff8, #F804D8);
                }
                .grand_master {
                    background: linear-gradient(to bottom right, #e41010, #434343);
                }
                .challanger {
                    background: linear-gradient(to bottom right, #CCA804, #026AFB);
                }
            a#container
                img#thumbnail(src="/")
                span#title 제목을 입력해주세요.