include header
html
    head
        link(rel="stylesheet" type="text/css" href="./../assets/styles/upload.css")
        script(src="./../assets/scripts/upload.js" defer)
    body
        main
            #uploadBox.notUpload
                button#uploadBtn
                    input#videoFile.invisibility(type="file" accept="video/mp4")
                    i.fa-fw.fas.fa-upload
                    span#uploadBox-description 클릭하거나 드래그하여 영상 업로드
                a(href="/upload/other")#otherUpload 외부 사이트의 영상을 공유하시겠습니까?
                #uploadData.invisibility
                    section#section-input-title
                        label.head 
                            i.fas.fa-quote-left
                            |  제목
                        input#titleInput.body(type="text")
                    section#section-input-description
                        label.head 
                            i.fas.fa-file-alt
                            |  설명
                        textarea#descriptionInput.body
                    section#section-select-visibility
                        label.head 
                            i.fas.fa-eye
                            |  공개
                        div#selectVisibility.body
                            div
                                input(type="radio" name="visibility" value="public" checked)
                                label 공개
                            div
                                input(type="radio" name="visibility" value="link")
                                label 일부 공개
                            div
                                input(type="radio" name="visibility" value="private")
                                label 비공개
                    section#section-file-thumbnail
                        label.head 
                            i.fas.fa-image
                            |  미리보기 이미지
                        input#imageFile.invisibility(type="file" accept="image/png")
                        img#thumbnailInput.body
                    section#section-pre-video
                        label.head 
                            i.fas.fa-video
                            |  영상 미리보기
                        iframe#preVideo.body
                    button#upload
                        i.fa-fw.fas.fa-upload