include header
head
    link(rel="stylesheet" type="text/css" href="./../assets/styles/watch.css")
    script(src="./../assets/scripts/watch.js" defer)
body
    main
        video#video(controls)
            source(src=stream type="video/mp4")
            | video태그를 지원하지 않는 브라우저입니다.
        #menu
            #menu_buttons
                button.menu_select(data-do="vidinfo") 영상 정보
                button.menu_select(data-do="comment") 댓글
                button.menu_select(data-do="othervid") 다른 동영상
            #video_information
            #comments.invisibility
            #otherVideos.invisibility