@font-face {
    font-family: "MainFont";
    src: url("./../fonts/NanumGothic-Regular.ttf") format("truetype");
}
* {
    box-sizing: border-box;
}
body {
    font-family: MainFont;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(135.5deg, #0e183c 0%, #091027 100%);
}
a {
    cursor: pointer;
    text-decoration: none;
}
button {
    appearance: none;
    background: none;
    cursor: pointer;
}