* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background: linear-gradient(135.5deg, #0e183c 0%, #091027 100%);
}
daldal-star {
    width: 150px;
    display: block;
}
a {
    cursor: pointer;
    text-decoration: none;
}
button {
    appearance: none;
}