@font-face {
    font-family: "MainFont";
    src: url("./../fonts/NanumBarunGothic.ttf") format("truetype");
}
* {
    box-sizing: border-box;
    font-family: MainFont;
}
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: url("https://daldal.so/media/images/background-star-back.png"), url("https://daldal.so/media/images/background-star-front.png"), linear-gradient(135.5deg, #0e183c 0%, #091027 100%);
    /* background: url("/assets/images/BackStar.svg"), linear-gradient(135.5deg, #0e183c 0%, #091027 100%); */
}
a {
    cursor: pointer;
    text-decoration: none;
}
button {
    appearance: none;
    background: none;
    cursor: pointer;
}
.invisibility {
    display: none !important;
}

@media all and (min-width: 768px) and (max-width: 110px) { 
    body > * {
        zoom: 1.25;
    }
} 

@media all and (min-width: 400px) and (max-width: 767px) {
    body > * {
        zoom: 1.5;
    }
} 

@media all and (max-width: 399px) {
    body > * {
        zoom: 2;
    }
}